<%- include('../partials/header.ejs') %>
  <% if(posts) { %>
    <div id="avatar-reply" class="center white-text">
      <img src="<%= user.avatar %>" alt="user-avatar">&nbsp;
      <%= user.name %>
    </div>
    <% posts.reverse() %>
      <%posts.forEach((p)=> { %>
        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p class="black-text">
                  <%= p.postText %>
                </p>
              </div>
              <div class="card-action">
                <a href="#">reply?</a>
              </div>
            </div>
          </div>
        </div>
        <% if (p.user.toString()===(user?._id.toString())) { %>

          <% } %>
            <% }) %>
              <% } %>
                <%- include('../partials/footer.ejs') %>