<%- include('../partials/header.ejs')%>

  <form action="/posts" method="POST">
    <input type="text" name="postText" id="post-text" placeholder="What's on your mind, dummy?">
  </form>
  <br><br>
  <main>
    <% if(posts){%>
      <% posts.reverse()%>
        <% posts.forEach((p)=> { %>
          <article>
            <%= p.postText %>
              <br>
              <!--Delete Post-->
              <% if (user?._id.toString()===(p.user.toString())) {%>
                <form action="/posts/<%= p._id %>?_method=DELETE" class="delete-post" method="POST">
                  <label for="delete-post">Delete Post?</label>
                  <button type="submit">X</button>
                </form>
                <% } %>
                  <div id="avatar">
                    <img alt="avatar" src="<%=p.userAvatar %>" referrerpolicy="no-referrer">&nbsp;<a href="">Reply?</a>
                  </div>
          </article>
          <% })} %>
  </main>

  <%- include('../partials/footer.ejs') %>