<%- include('../partials/header.ejs')%>

  <form action="/posts" method="POST">
    <input type="text" name="postText" id="post-text" placeholder="What's on your mind, dummy?">
  </form>
  <br>
  <main>
    <% if(posts){%>
      <% posts.reverse()%>
        <% posts.forEach((p)=> { %>
          <div id="total-post">
            <article id="postId">
              <a href="/posts/<%= p._id %>">
                <%= p.postText %>
              </a>
              <br>
              <div id="avatar">
                <img alt="avatar" src="<%=p.userAvatar %>" referrerpolicy="no-referrer">&nbsp;
              </div>
            </article>
            <article id="postNav">
              <div id="reply-link">
                <a href="/posts/<%= p._id %>">
                  <% if(p.replies.length> 0) { %>
                    <div>View Replies</div>
                    <% } %>
                      <div>Reply?</div>
                </a>
              </div>
              <div>
                <% if (user?._id.toString()===(p.user.toString())) { %>
                  <form action="/posts/<%= p._id %>?_method=DELETE" class="delete-post" method="POST">
                    <button type="submit">Delete?</button>
                  </form>
                  <% } %>
              </div>
            </article>
          </div>
          <% })} %>
  </main>

  <%- include('../partials/footer.ejs') %>