<%- include('../partials/header.ejs')%>

  <form action="/posts" method="POST">
    <input type="text" name="postText" id="post-text" placeholder="What's on your mind, dummy?">
  </form>
  <br>
  <main>
    <% if(posts){%>
      <% posts.reverse()%>
        <% posts.forEach((p)=> { %>
          <div id="total-post">
            <article id="postId">
              <%= p.postText %>
                <br>
                <div id="avatar">
                  <img alt="avatar" src="<%=p.userAvatar %>" referrerpolicy="no-referrer">&nbsp;
                </div>
            </article>
            <article id="postNav">
              <!--Delete Post-->
              <div>Reply?</div>
              <div>
                <% if (user?._id.toString()===(p.user.toString())) { %>
                  <form action="/posts/<%= p._id %>?_method=DELETE" class="delete-post" method="POST">
                    <button type="submit">Delete?</button>
                  </form>
                  <% } %>
              </div>
            </article>
          </div>
          <% })} %>
  </main>

  <%- include('../partials/footer.ejs') %>