<%- include('../partials/header.ejs') %>
  <% if(user) { %>
    <main>
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <div>
                <a href="/users/<%=post.user%>" id="avatar">
                  <img alt="avatar" src="<%=post.userAvatar %>" referrerpolicy="no-referrer">&nbsp;
                </a>
                <p class="black-text">
                  <%= post.postText %>
                </p>
              </div>
            </div>
            <div class="card-action valign-wrapper">
              <div>
                <div>
                  <% if (user?._id.toString()===(post.user.toString())) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" class="delete-post" method="POST">
                      <button type="submit">DELETE</button>
                    </form>
                    <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% if(post.replies) { %>
        <% post.replies.forEach((r)=> { %>
          <div class="col s12 m7">
            <div class="card horizontal grey lighten-1">
              <div class="card-stacked">
                <div class="card-content">
                  <a href="/users/<%= r.user %>" id="avatar">
                    <img src="<%=r.userAvatar%>" alt="avatar">
                  </a>
                  <p class="black-text">
                    <%= r.replyText %>
                  </p>
                </div>
                <div class="card-action valign-wrapper">
                  <div>
                    <div>
                      <% if(r.user.toString()===user?._id.toString()) { %>
                        <form action="/replies/<%= r._id %>?_method=DELETE" class="delete-post" method="POST">
                          <button type="submit">delete</button>
                        </form>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
            <% } %>
              <% if (user) { %>
                <section id="reply-box">
                  <form action="/posts/<%= post._id %>/replies" method="POST">
                    <input type="text" name="replyText" id="post-text" placeholder="Got something to say?">
                    <button class="btn-floating btn-large waves-effect waves-light green lighten-1"
                      type="submit">reply</button>
                  </form>
                </section>
                <% } %>
    </main>
    <% } %>
      <%- include('../partials/footer.ejs') %>